---
import { getLanguageFromURL } from "../../languages";
import { SIDEBAR } from "../../consts";

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith("/") ? currentPage.slice(1, -1) : currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);
const sidebar = SIDEBAR[langCode];
---

<nav class="px-4">
  <ul class="nav-groups tracking-wide">
    {
      Object.entries(sidebar).map(([header, children]) => (
        <li>
          <div class="tracking-wider">
            <h2 class="font-semibold text-slate-100 text-lg px-6 py-2">{header}</h2>
            <ul>
              {children.map((child) => {
                const url = Astro.site?.pathname + child.link;
                return (
                  <li class="nav-link w-full">
                    <a
                      class="block text-sm text-slate-300 w-full px-6 py-2 rounded-full"
                      href={url}
                      aria-current={currentPageMatch === child.link ? "page" : false}
                    >
                      {child.text}
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</nav>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
      document.querySelector(".nav-groups").scrollTop = target.offsetTop;
    }
  });
</script>

<style>
  .nav-link [aria-current="page"] {
    color: var(--theme-text-accent);
    background-color: var(--color-slate-800);
    font-weight: 600;
  }
</style>
