# Hoists Prisma Client to the root of the project in order to ensure correct import behavior and module resolution
public-hoist-pattern[]=*prisma*

strict-peer-dependencies=false
auto-install-peers=true
