---
import { Image } from "@astrojs/image/components";
import TerminalWindow from "@/assets/home/terminal-window.svg";
---

<section class="flex justify-center">
  <div class="flex w-full max-w-6xl flex-col items-center gap-12 px-8 md:flex-row">
    <div class="w-full">
      <h2 class="bg-gradient-to-b from-slate-50 to-slate-300 bg-clip-text pb-10 text-4xl font-bold text-transparent">
        Effortlessly create typesafe applications from the start
      </h2>
      <p class="pb-6 leading-loose text-slate-300">
        Cardinal was created as an effort to streamline the process of setting up a monorepo project that pairs a client
        application and a backend of your choice.
      </p>
      <p class="leading-loose text-slate-300">
        The CLI guides you trough the steps in deciding how to best setup libraries, modules and addons, while also
        providing sane default configurations and deployment paths.
      </p>
    </div>
    <div class="flex w-full justify-center">
      <Image alt="" src={TerminalWindow} />
    </div>
  </div>
</section>
