---
import { Image } from "@astrojs/image/components";
import { CLIInstallButton } from "@/components/landing/cliInstallButton";
import { CtaButtons } from "@/components/landing/ctaButtons";

import CardinalIcon from "@/assets/brand/cardinal-icon.svg";
import CardinalLogoGradient from "@/assets/brand/cardinal-logo-gradient.svg";
import BackgroundComposition from "@/assets/home/background-gradient.png";
import Grid from "@/assets/home/grid-pattern.svg";
---

<main class="flex justify-center">
  <Image src={BackgroundComposition} alt="" quality={90} class="select-none absolute -z-10 opacity-70 w-full" />
  <Image src={Grid} alt="" class="select-none absolute -z-20 opacity-60 w-full" />
  <div class="flex w-full max-w-4xl flex-col items-center px-8 py-32">
    <div class="center relative flex flex-col items-center justify-center gap-8 pb-8">
      <div class="cardinal p-5 sm:p-6">
        <Image class="h-14 w-14 sm:h-20 sm:w-20" alt="" src={CardinalIcon} />
      </div>
      <Image class="z-10" alt="" src={CardinalLogoGradient} />
    </div>
    <div class="flex w-full max-w-3xl flex-col items-center gap-8 pb-12">
      <h1
        class="bg-gradient-to-b from-slate-50 to-slate-300 bg-clip-text text-center text-3xl font-bold text-transparent sm:text-6xl"
      >
        The monorepo starter for full-stack applications
      </h1>
      <p class="w-full max-w-[580px] text-center leading-loose tracking-wider text-slate-300">
        Cardinal is a CLI tool that helps you quickstart a full-stack monorepo project. You choose the parts you want,
        we put it together.
      </p>
    </div>
    <div class="pb-8">
      <CLIInstallButton client:load />
    </div>
    <div class="flex gap-6">
      <CtaButtons client:load />
    </div>
  </div>
</main>
<style>
  :root {
    --primary-glow: radial-gradient(rgba(244, 42, 138, 0.25), rgba(0, 0, 0, 0));
    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);
  }

  .cardinal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);
    border-radius: 12px;
    overflow: hidden;
  }

  .cardinal::before,
  .cardinal::after {
    content: "";
    position: absolute;
    z-index: -10;
  }

  .cardinal::before {
    animation: 6s rotate linear infinite;
    width: 200%;
    height: 200%;
    background: var(--tile-border);
  }

  .cardinal::after {
    inset: 0;
    padding: 1px;
    border-radius: 12px;
    background: linear-gradient(50deg, #3c0629 -15.85%, #020005 50%);
    background-clip: content-box;
  }

  .center::after {
    content: "";
    position: absolute;
    background: var(--primary-glow);
    width: 300px;
    height: 300px;
    z-index: 1;
    filter: blur(30px);
  }

  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
</style>
