---
import { Image } from "@astrojs/image/components";
import TerminalWindow from "@/assets/home/terminal-window.svg";
---

<section class="flex justify-center">
  <div class="flex items-center w-full max-w-6xl px-8">
    <div class="w-3/4">
      <h2 class="pb-10 bg-gradient-to-b from-slate-50 to-slate-300 bg-clip-text text-4xl font-bold text-transparent">
        Effortless and typesafe applications from the start
      </h2>
      <p class="text-slate-300 tracking-wider leading-loose pb-6">
        Cardinal was created as an effort to streamline the process of setting up a monorepo project that pairs a
        client-side application and GraphQL backend.
      </p>
      <p class="text-slate-300 leading-loose tracking-wider">
        The CLI guides you trough the steps in deciding how to best serve and deploy the different parts of your
        project, while assuming sane default configurations for service deployments.
      </p>
    </div>
    <div class="w-full">
      <Image alt="" src={TerminalWindow} />
    </div>
  </div>
</section>
