@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("/fonts/NeueHaasDisplayRoman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("/fonts/NeueHaasDisplayMedium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display";
  src: url("/fonts/NeueHaasDisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-neue-haas-grotesk: "Neue Haas Grotesk Display";
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: var(--color-chinese-black);
}
body::-webkit-scrollbar-thumb {
  background-color: #5f5c6d;
  border-radius: 10px;
}
