.cardinal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  border-radius: 12px;
  overflow: hidden;
}

.cardinal::before,
.cardinal::after {
  content: "";
  position: absolute;
  z-index: -10;
}

.cardinal::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

.cardinal::after {
  inset: 0;
  padding: 1px;
  border-radius: 12px;
  background: linear-gradient(50deg, #3c0629 -15.85%, #020005 50%);
  background-clip: content-box;
}

.center::after {
  content: "";
  position: absolute;
  background: var(--primary-glow);
  width: 350px;
  height: 350px;
  z-index: 1;
  filter: blur(45px);
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
