---
import { Image } from "@astrojs/image/components";

import { SIDEBAR } from "@/consts";
import { getLanguageFromURL } from "@/languages";

import CardinalIcon from "@/assets/brand/cardinal-icon.svg";
import CardinalLogo from "@/assets/brand/CardinalLogo.astro";

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith("/") ? currentPage.slice(1, -1) : currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);
const sidebar = SIDEBAR[langCode];
---

<div class="border-b pb-4 dark:border-dark-gunmetal dark:bg-docs-dark-alt">
  <a href="/" class="flex items-center gap-2">
    <Image class="h-8 w-8" alt="" src={CardinalIcon} />
    <CardinalLogo class="hidden w-20 sm:block" />
  </a>
</div>
<nav class="w-full">
  <ul class="nav-groups">
    {
      Object.entries(sidebar).map(([header, children]) => (
        <li>
          <div>
            <h2 class="pb-2 pt-6 text-lg font-semibold text-slate-900 dark:text-slate-100">{header}</h2>
            <ul>
              {children.map((child) => {
                const url = Astro.site?.pathname + child.link;
                return (
                  <li class="nav-link w-full">
                    <a
                      class="block w-full py-2 text-sm text-slate-700 dark:text-slate-300"
                      href={url}
                      aria-current={currentPageMatch === child.link ? "page" : false}
                    >
                      {child.text}
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</nav>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
      document.querySelector(".nav-groups").scrollTop = target.offsetTop;
    }
  });
</script>

<style is:global>
  .nav-link [aria-current="page"] {
    font-weight: 700;
    @apply text-pink-600 dark:text-pink-500;
  }
</style>
