---
import { SIDEBAR } from "@/consts";
import { getLanguageFromURL } from "@/languages";
import Search from "@/components/navigation/search";

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith("/") ? currentPage.slice(1, -1) : currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);
const sidebar = SIDEBAR[langCode];
---

<nav class="overflow-y-scroll w-full h-screen md:h-full px-4">
  <div class="px-6 pt-14 flex md:hidden">
    <Search homepage={false} client:load />
  </div>
  <ul class="nav-groups pt-8 tracking-wide">
    {
      Object.entries(sidebar).map(([header, children]) => (
        <li>
          <div class="tracking-wider">
            <h2 class="px-6 pb-2 pt-6 text-lg font-semibold text-slate-900 dark:text-slate-100">{header}</h2>
            <ul>
              {children.map((child) => {
                const url = Astro.site?.pathname + child.link;
                return (
                  <li class="nav-link w-full">
                    <a
                      class="block w-full rounded-full px-6 py-2 text-sm text-slate-700 dark:text-slate-300"
                      href={url}
                      aria-current={currentPageMatch === child.link ? "page" : false}
                    >
                      {child.text}
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        </li>
      ))
    }
  </ul>
</nav>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
      document.querySelector(".nav-groups").scrollTop = target.offsetTop;
    }
  });
</script>

<style is:global>
  .nav-link [aria-current="page"] {
    @apply bg-slate-200 dark:bg-slate-800;
    font-weight: 600;
  }
</style>
