---
import type { SidebarItemLink } from "@/consts";
import { getLanguageFromURL } from "@/languages";
import { paginate } from "@/utils/pagination";

const currentPage = Astro.url.pathname;
const hasTrailing = currentPage.endsWith("/");
const currentPageMatch = currentPage.slice(1, hasTrailing ? -1 : currentPage.length) as SidebarItemLink;

const langCode = getLanguageFromURL(currentPage);
const { next, prev } = paginate(langCode, currentPageMatch);
---

<div
  class="mt-16 mb-8 flex flex-row items-center justify-between pt-4 text-slate-800 dark:text-slate-50 tracking-wider md:px-8"
>
  <div>
    {
      prev ? (
        <a rel="prev" href={Astro.site?.pathname + prev.link}>
          <div class="flex flex-col gap-2">
            <span class="text-sm dark:text-slate-300">Previous</span>
            <span class="text-lg font-semibold dark:text-pink-400 text-pink-400">{prev.text}</span>
          </div>
        </a>
      ) : null
    }
  </div>
  <div>
    {
      next ? (
        <a rel="next" href={Astro.site?.pathname + next.link}>
          <div class="flex flex-col gap-2">
            <span class="text-sm dark:text-slate-300">Next</span>
            <span class="text-lg font-semibold dark:text-pink-400 text-pink-400">{next.text}</span>
          </div>
        </a>
      ) : null
    }
  </div>
</div>
