---
import MoreMenu from "../RightSidebar/MoreMenu.astro";

type Props = {
  title: string;
  description: string;
  githubEditUrl: string;
};

const { title, description, githubEditUrl } = Astro.props;
---

<article class="flex flex-col items-center justify-center leading-relaxed tracking-wide">
  <section class="max-w-3xl px-8">
    <h1 class="pb-4 text-4xl font-semibold text-slate-900 dark:text-slate-100">{title}</h1>
    <p class="pb-8 text-xl text-slate-700 dark:text-slate-300">{description}</p>
    <div class="content-wrapper">
      <slot />
    </div>
  </section>
</article>

<style is:global>
  .content-wrapper p {
    @apply pb-4 text-base text-slate-900 dark:text-slate-100;
    letter-spacing: 0.05em;
    line-height: 1.7;
  }
  .content-wrapper ul {
    @apply pb-6;
  }
  .content-wrapper h2 {
    @apply pt-8 pb-6 text-2xl font-semibold;
  }
</style>
