---
import MoreMenu from "../RightSidebar/MoreMenu.astro";

type Props = {
  title: string;
  description: string;
  githubEditUrl: string;
};

const { title, description, githubEditUrl } = Astro.props;
---

<article class="flex flex-col justify-center items-center leading-relaxed tracking-wide">
  <section class="px-8 max-w-3xl">
    <h1 class="text-slate-100 text-4xl font-semibold pb-4">{title}</h1>
    <p class="text-slate-300 text-xl pb-8">{description}</p>
    <div class="content-wrapper">
      <slot />
    </div>
  </section>
</article>

<style is:global>
  .content-wrapper p {
    @apply text-slate-100 text-base pb-4;
    letter-spacing: 0.05em;
    line-height: 1.7;
  }
  .content-wrapper ul {
    @apply pb-6;
  }
  .content-wrapper h2 {
    @apply text-2xl font-semibold pt-8 pb-6;
  }
</style>
