---
import "@/styles/global.css";
import type { CollectionEntry } from "astro:content";
import Navbar from "@/components/Header/Navbar.astro";
import Footer from "@/components/Footer/Footer.astro";
import HeadCommon from "@/components/HeadCommon.astro";
import HeadSEO from "@/components/HeadSEO.astro";
import { SITE } from "@/consts";

type Props = CollectionEntry<"docs">["data"];

const { ...data } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<html dir={data.dir} lang={SITE.defaultLanguage}>
  <head>
    <HeadCommon />
    <HeadSEO {...data} canonicalUrl={canonicalUrl} />
  </head>
  <body class="font-body">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
