---
import { SITE } from "@/consts";

import Navbar from "@/components/navigation/navbar.astro";
import Footer from "@/components/footer/Footer.astro";
import HeadCommon from "@/components/seo/headCommon.astro";
import HeadSEO from "@/components/seo/headSeo.astro";
import "@/styles/global.css";

// type Props = CollectionEntry<"docs">["data"];
const { ...data } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<html dir={data.dir} lang={SITE.defaultLanguage}>
  <head>
    <HeadCommon />
    <HeadSEO
      title="Cardinal - From idea to full-stack app in record time"
      description="Cardinal is a CLI tool that helps you quickstart a full-stack monorepo project. You choose the parts you want, we put it together"
      canonicalUrl={canonicalUrl}
      lang="en-us"
      dir="ltr"
    />
  </head>
  <body class="bg-slate-950 font-body">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
