---
import { SITE } from "@/consts";

import Navbar from "@/components/navigation/navbar.astro";
import Footer from "@/components/footer/Footer.astro";
import HeadCommon from "@/components/seo/headCommon.astro";
import HeadSEO from "@/components/seo/headSeo.astro";
import "@/styles/global.css";

// type Props = CollectionEntry<"docs">["data"];
const { ...data } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<html dir={data.dir} lang={SITE.defaultLanguage}>
  <head>
    <HeadCommon />
    <HeadSEO {...data} canonicalUrl={canonicalUrl} />
  </head>
  <body class="bg-chinese-black font-body">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
